body{
    padding: 20px;
}

.main{
    width: 550px;
}

#todo-new{
    width: 550px;
}
#todo-list{
    line-height: 25px;
    list-style-type: none
}

.font2{
    color: lightslategray;
    font-style: italic;
}

.font3{
    color:palevioletred;
    font-style: normal;
}

.delete{
    position: absolute;
    left: 500px;
    width: 60px;
    background-color:white;
    border:1px solid #a1a1a1;
    border-radius:10px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.delete:hover {
    background-color: #4CAF50;
    color: white;
}

.done{
    position: absolute;
    left: 440px;
    width: 60px;
    background-color:white;
    border:1px solid #a1a1a1;
    border-radius:10px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.done:hover {
    background-color: #4CAF50;
    color: white;
}

.filter{
    padding-left: 30px;
    color: indigo;
    
}
.count{
    width:550px;
    border-bottom: solid 1px gray;
    font-size: 16px;
    font-weight: bold;
    color:cornflowerblue;
    padding-left: 30px;
}